#btnTop{
    position: fixed;
    right:16px;
    bottom: 16px;
    padding: 10px 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.medidaImg{
    width: 200px;
    height: auto;
    align-items: center;

}
.margenPriDiv{
    margin-top: 14px;
   
}


@media (min-width:576px){
    .medidaImg{
    width: 280px;
    height: auto;
    align-items: center;

}
}

